
body{
    background-color: rgb(19%, 19%, 19%);
}

.Count-16{
    height: 528px;
    width: 529px;
    border: 1px solid red;
}
.Count-24{
    height: 498px;
    width: 750px;
    border: 1px solid blue
}
.Count-32{
    height: 750px;
    width: 750.35px;
    border: 1px solid white;
}