@use '../abstract/mixin' as mixin;

$redRose: 'RedRose';
$openSans: 'OpenSans';

main{
    height: 100vh;
    width: 100vw;
    background-color: rgb(100%, 100%, 100%);
    @include mixin.flex-center;
   
    .settings-content{
        padding: 8%;
         
        h1{
            position: absolute;
            top: 150px;
            margin: 0;
            font-family: $redRose;
            font-size: 54px;
            line-height: 100%;
            //text-decoration: underline #F0EA6E ;
        }
        .inner-wrapper{
           
            height: 539px;
            width: 1103px;
            //border: 1px solid red;

            display: flex;
            justify-content: space-between;

            .left-content{

                .settings{
                    display: flex;
                    flex-direction: column;
                    .headline{
                        height: 32;
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        margin-bottom: 8px;
                        .setting-img{
                          height: 26.67px;
                          width: 26.67px;  
                        }
                        h4{
                            margin: 0;
                            font-size: 24px;
                            font-family: $openSans;
                        }
                    }
                }
                .settings--game{
                    height: 180px;
                    width: 282px;
                }
                .settings--player{
                    height: 162px;
                    width: 244px;
                }
                .settings--board{
                    height: 144px;
                    width: 244px;
                }
                .input-wrapper{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    .menu-point{
                        //@include mixin.flex-center;
                        //flex-direction: row;
                        height: 24px;
                        display: flex;
                        gap: 10px;
                        padding-left: 2rem;
                        input{
                            margin: 0;
                        }
                        p{
                            margin: 0;
                            display: flex;
                            align-items: center;
                            font-size: 20px;
                            font-family: $openSans;
                            line-height: 100%;
                        }

                    }
                }

                    
                
               
                
            }
            .right-content{
                height: 539px;
                width: 546px;
                //border: 1px solid blue;

                .theme-wrapper{
                    height: 458px;
                    width: 100%;
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-end;

                    img{
                        height:412px;
                        width: 460px;
                        //border: 1px solid yellow;
                        border-radius: 16px;
                    }
                }
                .summary-wrapper{
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    gap: 16px;
                    height: 81px;
                    width: 546px;
                    background-color: rgb(96%, 96%, 96%);
                    padding: 0 8px ;
                    p{
                        font-size: 20px;
                        font-family: $openSans;
                    }
                    .separator{
                        height: 56px;
                        width: 8px;
                        background-color: rgb(94%, 92%, 43%);
                        rotate: 20deg;
                    }
                    .settingButton{
                        height: 53px;
                        width: 126px;
                        font-size: 20px;
                        @include mixin.flex-center;
                        flex-direction: row;
                        gap: 8px;
                        img{
                            height: 16px;
                            width: 20px;
                        }
                        p{
                            font-family: $redRose;
                            font-size: 20px;

                        }
                    }

                }
            }

        }
       
    }
}