
@use '../abstract/mixin' as mixin;
@use '../abstract/variables' as vars;

// mixin
.exitBtn--code{
    width: 207px;
    height: 100%;
    background-color: #415652;
    padding: 0;
    border-style: solid;
    border-width: 1px;
    border-color: #4DD5BC;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: transform 0.3s ease;
    img{
        height: 25.75px;
        width: 25.75px;
    }
    h5{
        font-family: vars.$redRose;
        font-size: 24px;
        font-weight: 700;
        color: #FFFFFF;
    }
    &:hover{
        //transition-duration: 0.05s;
        cursor: pointer;
        border-width: 2px;
        box-shadow: 1px 2px 2px 0px #4DD5BC;
        @include mixin.slideDown;
        
        
        //transform: translateY(1px);
    }
}

.exitBtn--food{
    width: 173px;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #F3832D;
    //@include mixin.flex-center;
}

//Overlay Button Theme-code

@mixin overlay-button{
    height: 57px;
    max-width: 182px;
    padding: 0 24px;
}

.StartButton{
    height: 53px;
    width: 126px;
    font-size: 20px;
    @include mixin.flex-center;
    flex-direction: row;
    gap: 8px;
    img{
        height: 16px;
        width: 20px;
        
    }
    p{
        font-family: vars.$redRose;
        font-size: 20px;

    }
}

.StartButton--enabled{
    background-color: #F0EA6E;
    //font-family: $redRose;
    border: 0;
    p{
        color: #303131;
    }
    &:hover{
        cursor: pointer;
    }
}

.StartButton--disabled{
    background-color: #DBDBD6;
    //font-family: $redRose;
    border: 0;
    p{
        color: #A3A1A1;
    }
    &:hover{
        cursor: not-allowed;
    }
}

