
$redRose: 'RedRose';
$openSans: 'OpenSans';

ul{
    padding: 0;
    margin: 0;
}

.button--primary{
    background-color: #F0EA6E;
    //font-family: $redRose;
    border: 0;
}

.checkmark{
    height: 14px;
    width: 14px;
    border-radius: 50%;
    border: 3px solid #000;
    position: relative;
    display: inline-block;
    
    &::after{
        content: '';
        position: absolute;
        top: 33%;
        left: 33%;
        height: 5px;
        width: 5px;
        border-radius: 50%;
        //border: 1px solid #000;
        background-color: #000;
        display: none;
    }

    
    
}


