
@font-face {
    font-family: 'RedRose';
    font-weight: 700;
    src: url('/fonts/RedRose-Bold.ttf');
}

@font-face {
    font-family: 'OpenSans';
    font-weight: 400;
    src: url('/fonts/OpenSans-Regular.ttf');
}

