
@font-face {
    font-family: 'RedRose';
    font-weight: 700;
    src: url('/fonts/RedRose-Bold.ttf');
}

@font-face {
    font-family: 'OpenSans';
    font-weight: 400;
    src: url('/fonts/OpenSans-Regular.ttf');
}

@font-face{
    font-family: 'DeliusUnicase';
    font-weight: 700;
    src: url('/fonts/DeliusUnicase-Regular.ttf');
}

@font-face{
    font-family: 'KleeOne';
    font-weight: 700;
    src: url('/fonts/DeliusSwashCaps-Regular.ttf');
}

@font-face{
    font-family: 'DeliusUnicaseBold';
    font-weight: 700;
    src: url('/fonts/DeliusUnicase-Bold.ttf');
}
